.page-content {
  width: 100%;
  padding: 3em 4%;
}

.page-content:first-of-type {
  padding-top: 8em;
}

.main-container {
  max-width: 1200px;
  margin: 0 auto;
}

.main-container h1 {
  color: #34568b;
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1em;
  font-weight: bold;
}

.links-container {
  display: flex;
  justify-content: center;
  gap: 2em;
  margin-bottom: 2em;
}

.links-container img {
  width: 3em;
  height: 3em;
  transition: transform 0.3s ease;
}

.links-container img:hover {
  transform: scale(1.2);
}

.project-description {
  color: #596f82;
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 4em;
}

.feature-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: space-between;
}

.about-card {
  flex: 1 1 400px;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
  padding: 2em;
  height: fit-content;
  transition: all 0.3s ease;
}

.about-card:hover {
  border-color: #34568b;
  transform: translateY(-15px);
  cursor: pointer;
}

.about-card h2 {
  color: #34568b;
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.about-card ul {
  margin-top: 1em;
  color: #2c3e50;
  font-size: 1rem;
  margin-left: 1.5rem;
  margin-bottom: 0;
}

#git-card .gitstats {
  width: 90%;
  height: 2rem;
  margin: 2em auto 1em;
  display: flex;
  align-items: center;
}

#git-card .gitstats .gitbar {
  width: 100%;
  height: 12px;
  border: 1px solid #dee2e6;
  border-radius: 100px;
  display: flex;
  overflow: hidden;
  background: #e9ecef;
}

.git-lang {
  height: 100%;
}

#html-bar {
  background-color: #e44d26;
}
#css-bar {
  background-color: #311656;
}
#js-bar {
  background-color: #f7df1e;
}

#py-bar {
  background-color: #3572a5;
}

.git-text {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin: 2rem auto 1rem;
}

.color-box {
  width: 15px;
  height: 15px;
  border: 1px solid #dee2e6;
  display: inline-block;
  vertical-align: middle;
}

.text-block {
  display: inline;
  margin-left: 1em;
  color: #2c3e50;
  vertical-align: middle;
}

.ind-block {
  margin: 0.5em;
  display: flex;
  align-items: center;
}

@media (max-width: 768px) {
  .page-content:first-of-type {
    padding-top: 22em;
  }
}
