section {
  width: 100%;
  padding: 3em 4%;
}

section:first-of-type {
  padding-top: 8em;
}

.order-menu {
  width: 100%;
}

.order-menu p:first-child,
.specials p:first-child {
  color: #34568b;
  font-size: 30px;
  text-align: center;
  margin-bottom: 1.5em;
  font-weight: bold;
}

.order-menu .menu-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.order-menu .menu-items .menu-item {
  flex: 0 1 120px;
  text-align: center;
}

.order-menu .menu-items .menu-item img {
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  width: 120px;
  border: 5px solid #f8f9fa;
  background-color: #e9ecef;
  animation: pulse-loader 1.5s infinite ease-in-out;
}

.order-menu .menu-items .menu-item img:hover {
  border: 5px solid #34568b;
  transition: all 0.3s ease;
  cursor: pointer;
}

.order-menu .menu-items .menu-item p {
  color: #2c3e50;
  font-size: 18px;
  text-align: center;
  margin-top: 0.5em;
}

.order-menu .menu-items .menu-item p:hover {
  color: #34568b;
  transition: all 0.3s ease;
}

.specials {
  width: 100%;
  overflow: hidden;
}

.specials .fries-title {
  color: #34568b;
  text-align: center;
  font-size: 24px;
  margin-top: -1em;
  margin-bottom: 1.5em;
}

.specials .specials-title {
  color: #34568b;
  text-align: center;
  font-size: 24px;
  margin-top: 3em;
  margin-bottom: 1.5em;
}

.specials .fries-holder {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
}

.specials .fries-holder .fries-vid-1,
.specials .fries-holder .fries-vid-2,
.specials .fries-holder .fries-vid-new {
  flex: 1 1 250px;
}

.wide-video-container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  border-radius: 20px;
}

.wide-video-container video {
  border-radius: 20px;
  border: 5px solid #f8f9fa;
}

.wide-video-container video:hover {
  border: 5px solid #34568b;
  transition: all 0.3s ease;
}
.specials img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  /* OLD: 4px solid #FFFFFF */
  border: 4px solid #f8f9fa;
  transition: all 0.3s ease;
  /* Skeleton Loader */
  background-color: #e9ecef;
  animation: pulse-loader 1.5s infinite ease-in-out;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05);
}

.specials img:hover {
  border-color: #34568b;
  cursor: pointer;
}

@media (max-width: 768px) {
  section:first-of-type {
    padding-top: 22em;
  }

  .order-menu p:first-child,
  .specials p:first-child {
    text-align: center;
  }

  .specials .fries-holder {
    flex-direction: column;
    align-items: center;
    gap: 30px;
  }

  .specials .fries-holder .fries-vid-1,
  .specials .fries-holder .fries-vid-2,
  .specials .fries-holder .fries-vid-new {
    flex-basis: auto;
    width: 90%;
  }

  .wide-video-container {
    width: 90%;
  }
}
